<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Deadlock and concurrency simulator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Deadlock 500ms", "Deadlock", "Home")</li>
                    <li>@Html.ActionLink("Deadlock 100ms", "Deadlock", "Home", new { ms = 100 }, new { })</li>
                    <li>@Html.ActionLink("Deadlock 10ms", "Deadlock", "Home", new { ms = 10 }, new { })</li>
                    <li>@Html.ActionLink("Deadlock 1ms", "Deadlock", "Home", new { ms = 1 }, new { })</li>
                    <li>@Html.ActionLink("Concurrency Task.Run", "ConcurrencyTaskRunResult", "Home")</li>
                    <li>@Html.ActionLink("Concurrency Async/Await", "ConcurrencyAsyncAwait", "Home")</li>
                    <li>@Html.ActionLink("Concurrency returning Task", "ConcurrencyTaskReturn", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
